@import url('./Prata-Regular.ttf');
  
body {
   font-family: Arial, sans-serif;
}

.content-text,
.navbar-logo {
    font-family: 'Prata', serif;
}

.footer-navbar-list a,
.navbar-list a,
.logo {
    font-family: 'Prata', serif;
    font-size: 16px;
}